/* styles.css */

/* Define the styles for the navigation bar */
.topnav {
  /* background: linear-gradient(90deg, #ff0000, #0000ff, #00ffff); Gradient background with red, blue, and cyan */
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,142,1) 100%);
  overflow: hidden;
  margin: 50px;
  border-radius: 20px;
}

/* Style the header */
.header {
  text-align: center;
  color: #f2f2f2; /* Text color */
  padding: 14px 0; /* Padding around the header */
}
